<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>

            <div class="card-body">
                <%- article.body %>
                <!-- aqui estou exibindo o conteúdo do artigo, o campo body foi definido dentro do model (que guarda o corpo de um artigo) -->
                <!-- ao invés de utilizar o código como se estivesse exibindo uma variável, trocou para <%- %>, pois assim vai mostrar a formatação do artigo em questão, se não for assim o artigo não vai estar formatado devidamente como escrito no tinymce -->
            </div>
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>